@media only screen and (max-width: 1300px) {
  .header-menu {
    justify-content: space-evenly;
  }
  .header-menu-item {
    width: 30%;
  }
  .btn {
    height: 7vh;
    width: 35%;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-btn {
    width: 18vw;
  }
  .card {
    width: 30%;
  }
}

@media only screen and (max-width: 950px) {
  :root {
    --fontFamily: "Varela Round", sans-serif;
    --fontSizeNormal: 14px;
    --fontSizeHeading: 28px;
    --fontSizeHero: 42px;
    --fontColorDark: #4c4c6b;
    --fontColorLight: #9494b4;
    --lightBlue: #e5e4ff;
    --darkBlue: #504d98;
    --offWhite: #f3f3fb;
  }
  .hero-container {
    height: 100vh;
  }
  .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-logo {
    flex-grow: 0;
    margin-left: 0em;
  }
  .header-menu {
    width: 80%;
    margin-right: 0em;
    justify-content: space-evenly;
    margin-bottom: 1em;
  }
  .header-menu-item {
    height: 8vh;
    width: 20%;
  }
}

@media only screen and (max-width: 750px) {
  .hero-container {
    height: fit-content;
  }
  .header-menu {
    flex-wrap: wrap;
  }
  .hero-info-container {
    margin-left: 4em;
    margin-bottom: 3em;
  }
  .hero-btn {
    width: 16vw;
  }
  .statistics-container {
    height: 50vh;
  }
  .statistics {
    width: 100%;
  }
  .projects-count {
    width: 50%;
  }
  .customers-count {
    width: 50%;
  }

  .projects-row {
    height: fit-content;
  }
  .projects-col {
    width: 100%;
  }
  .project-col-img {
    width: 90vw;
    height: 30vh;
    margin-top: 1em;
  }
  .adjust-for-img {
    max-height: 75vh;
  }
  .fullSize {
    height: 40vh;
  }
  .squareSize {
    width: 42vw;
  }
}

@media only screen and (max-width: 650px) {
  .header-menu-item {
    width: 30%;
    flex-wrap: wrap;
  }
  .btn {
    height: 5vh;
    width: 100%;
  }
  .hero-info-container {
    margin-left: 2em;
  }
  .hero-btn {
    width: 35vw;
  }
  .statistics {
    width: 100%;
    flex-wrap: wrap;
  }
  .projects-count {
    width: 100%;
  }
  .customers-count {
    width: 100%;
  }
  .card {
    width: 100%;
    height: 50vh;
  }

  .project-col-img {
    width: 80vw;
    height: 40vh;
  }
  .adjust-for-img {
    max-height: 90vh;
  }
  .fullSize {
    height: 40vh;
  }
  .squareSize {
    width: 35vw;
    height: 28vh;
  }
  .contact-container {
    height: fit-content;
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info {
    height: 80%;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .info-name {
    text-align: center;
  }
  .info-address {
    text-align: center;
  }
  .contact {
    height: 80%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  .contact-item {
    margin-bottom: 1em;
    width: 55%;
  }
  .contact-item-text {
    margin-left: 1em;
  }
  .footer-container {
    height: 6vh;
    background-color: var(--darkBlue);
    color: var(--offWhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fontFamily);
    font-size: 10px;
    overflow: hidden;
  }
  .footer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20em;
  }
  .footer-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3em;
  }

  .footer-item-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 1em;
  }
}
