@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --fontFamily: "Varela Round", sans-serif;
  --fontSizeNormal: 20px;
  --fontSizeHeading: 32px;
  --fontSizeHero: 52px;
  --fontColorDark: #4c4c6b;
  --fontColorLight: #9494b4;
  --lightBlue: #e5e4ff;
  --darkBlue: #504d98;
  --offWhite: #f3f3fb;
}

html,
body {
  margin: 0;
}

.adjust {
  margin-left: 2em;
  margin-right: 2em;
}
.test {
  border: solid 1px red;
}

.hero-container {
  height: 100vh;
  background-color: var(--lightBlue);
  border: solid 0.1px var(--lightBlue);
}
.header-container {
  margin-top: 2em;
  border-radius: 30px;
  background-color: var(--offWhite);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  flex-grow: 1;
  margin-left: 3em;
}
.header-logo > p {
  font-family: var(--fontFamily);
  font-size: var(--fontSizeHeading);
  font-weight: bolder;
  text-align: center;
}
.header-logo > p > span {
  color: var(--darkBlue);
}
.header-menu {
  flex-grow: 3;
  margin-right: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header-menu-item {
  cursor: pointer;
  height: fit-content;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeNormal);
  font-weight: bold;
}

/* styles the contact buttons */
.btn {
  background-color: var(--darkBlue);
  color: #fff;
  height: 5vh;
  width: 20%;
  border-radius: 35px;
}

.hero-info-container {
  height: 75%;
  display: flex;
  font-display: row;
  margin-top: 2em;
  margin-left: 8em;
}
.hero-text-container {
  flex-grow: 1;
  font-family: var(--fontFamily);
  color: var(--fontColorDark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text-heading > div {
  font-size: var(--fontSizeHero);
  font-weight: bold;
}
.hero-text-sub-heading {
  font-size: var(--fontSizeNormal);
  color: var(--fontColorLight);
}
.hero-btn {
  background-color: var(--darkBlue);
  color: #fff;
  font-size: var(--fontSizeNormal);
  font-weight: bold;
  height: 7vh;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.hero-img-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img-container > img {
  width: 70%;
  height: 70%;
}

.statistics-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics {
  height: 60%;
  width: 80%;
  border-radius: 30px;
  background-color: var(--lightBlue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--fontFamily);
}
.projects-count {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customers-count {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count {
  font-weight: bolder;
  font-size: var(--fontSizeHero);
  color: var(--fontColorDark);
}
.count-tile {
  font-size: var(--fontSizeNormal);
  color: var(--fontColorLight);
}

.serivces-container {
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
}
.section-heading {
  font-size: var(--fontSizeHero);
  color: var(--fontColorDark);
  font-weight: bold;
  font-family: var(--fontFamily);
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1em;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  margin: 1em;
  width: 20%;
  height: 50vh;
  background-color: var(--darkBlue);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-img {
  width: 10em;
  height: 10em;
  background-color: var(--lightBlue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card-title {
  font-family: var(--fontFamily);
  color: #fff;
  font-size: var(--fontSizeNormal);
  margin-top: 1em;
  width: 80%;
  text-align: center;
}
.section-margin {
  margin-top: 2em;
}

.projects-container {
  display: flex;
  flex-direction: column;
}
.projects-row {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects-col {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.project-col-img {
  width: 95%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullSize {
  height: 95%;
}
.squareSize {
  width: 45%;
}
.project-col-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.contact-container {
  height: 50vh;
  background-color: var(--lightBlue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--fontFamily);
}
.info {
  height: 80%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-name {
  font-size: var(--fontSizeHero);
  color: var(--fontColorDark);
  font-weight: bolder;
}
.info-address {
  font-size: var(--fontSizeNormal);
  color: var(--fontColorLight);
}
.contact {
  height: 80%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  width: 50%;
}
.contact-item-text {
  margin-left: 2em;
}
.footer-container {
  height: 5vh;
  background-color: var(--darkBlue);
  color: var(--offWhite);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--fontFamily);
  font-size: 12px;
  overflow: hidden;
}
.footer-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20em;
}
.footer-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 3em;
}

.footer-item-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 1em;
}
